*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    // color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
td,
.button {
    font-family: 'proximanova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.button {
    font-weight: 600;
}

h4,
h5,
h6 {
    clear: both;
}

h2 {
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-family: 'capita', serif;
    font-weight: 300;
}

h4 {
    font-weight: 400;
}

h5 {
    font-weight: 600;
}

a {
    color: #007FFF;
    text-decoration: none;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

footer {
    display: none;
}

canvas {
    display: block;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 700;
}

.byline a {
    color: #fff;
}

.byline a:hover {
    color: #aaa;
}

.three-container {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.info-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fe5a1d;
}

.info-box h3 {
    font: 14px "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 0;
    color: #fff;
}

.info-box span {
    font: 14px/17px "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    display: block;
}

.btn {
    background: unset;
    text-shadow: unset;
    // color: #ccc;
    font-family: "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-weight: 200;
    background-color: transparent;
    border: 1px solid #000;
    transition: all 0.2s;
}

.btn:hover {
    // background: unset;
    background-color: rgba(33, 33, 33, 0.1);
    // border-color: #fff;
}

.error-box {
    position: absolute;
    width: 60%;
    top: 45%;
    left: 20%;
    background: rgba(33, 33, 33, 0.7);
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 100;
    padding: 20px;
}

.error-box p {
    font-family: "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #fff;
    margin: 0;
}

.loading-box {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    background: url('../img/map_antarctica.png') no-repeat center center;
    background-size: contain;
    transition: opacity 2.0s ease-out;
}

#spinner {
    color: #999;
    position: absolute;
    padding: 20px 20px;
    top: calc(45% - 25px);
    width: 400px;
    left: calc(53% - 200px);
    text-align: center;
    border-radius: 5px;
    display: block;
}

.loading-box p {
    font-size: 24px;
    color: #999;
    position: absolute;
    padding: 20px 20px;
    top: calc(55% - 25px);
    width: 400px;
    left: calc(53% - 200px);
    text-align: center;
    font-family: "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    border-radius: 5px;
    display: block;
    line-height: 120%;
}

.loading-box .wifi-warning {
    font-size: 18px;
}

.sharebuttons {
    color: #fff;
    margin: 0;
    width: 120px;
    color: #282828;
    font-size: 21px;
    background: transparent;
    cursor: pointer;
    position: relative;
    margin-top: 10px
}

.intro-box {
    text-align: left;
    width: 45%;
    position: absolute;
    top: calc(50% - 100px);
    left: 15%;
    z-index: 100;
}

.intro-box h1 {
    color: #000;
    font-size: 45px;
    // font-family: "Belizio Narrow SemiBold", Georgia, serif;
    // letter-spacing: 0.01em;
}

.intro-box h3 {
    color: #bb0000;
    // font-family: "Belizio Narrow SemiBold", Georgia, serif;
    // letter-spacing: 0.01em;
}

.intro-box a {
    color: #bb0000;
    // font-family: "Belizio Narrow SemiBold", Georgia, serif;
    // letter-spacing: 0.01em;
}

.intro-box p {
    margin: 15px 0;
    font-size: 18px;
    font-family: "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-weight: 200;
    // color: #fff;
}

.intro-box .byline {
    margin: 7px 0 3px 3px;
    color: #444;
}

.intro-box .dateline {
    margin: 3px 0 20px 3px;
    font-size: 16px;
    color: #444;
}

.intro-box .icon {
    margin-right: 5px;
    font-family: "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    position: relative;
    top: 2px;
}

.description,
.selection-box {
    margin-left: 3px;
}

.instructions-box {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 25%;
    max-width: 300px;
    padding: 20px;
    background: rgba(33, 33, 33, 0.7);
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 100;
}

.instructions {
    color: #fff;
    font-family: "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0 auto;
}

.instructions h3,
.end-tour h3 {
    color: #fff;
    font: 18px "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0px;
}

.instructions ul {
    margin: 0;
    list-style-type: none;
}

.instructions li {
    font-size: 14px;
    padding: 15px 5px;
    border-bottom: 1px solid #fff;
}

.instructions li:first-child {
    border-top: 1px solid #fff;
}

.instructions li i {
    margin-right: 3px;
}

.instructions .btn {
    margin-top: 15px;
    background-color: rgba(255,255,255,0.8);
}

.instructions .btn:hover {
    background-color: rgba(255,255,255,0.5);
}

.instructions img {
    float: left;
    width: 75px;
    margin-right: 7px;
}

.description-mobile-landscape {
    display: none;
}

.next-point-box,
.end-tour {
    position: absolute;
    bottom: 20px;
    width: 33%;
    left: 33%;
    text-align: center;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    z-index: 100;
}

.desktop-sharebuttons-box {
    position: absolute;
    top: 5px;
    right: 10px;
}

.poi-counter,
.worlds-end-box {
    position: absolute;
    width: 280px;
    text-align: center;
    bottom: 10px;
    right: calc(50% - 140px);
    padding: 20px;
    background: rgba(33, 33, 33, 0.7);
    border: 1px solid #fff;
    border-radius: 5px;
    font: 14px/17px "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #fff;
    transition: opacity .15s ease-out;
}

.poi-counter:hover {
    cursor: default;
}

.fadeout {
    opacity: 0;
}

.next-point-box .btn {
    z-index: 100;
    transition: opacity .15s ease-out;
    background-image: unset;
    text-shadow: unset;
    background-color: rgba(255,255,255,0.6);
    font-weight: 400px;
    color: #fe5a1d;
    border-color: #fe5a1d;
}

.next-point-box .btn:hover {
    background-color: rgba(33,33,33,0.3);
    color: #fe5a1d;
    text-decoration: none;
}

.tour-btn, .home-btn {
    position: absolute;
    bottom: 10px;
    right: 160px;
    z-index: 100;
    transition: opacity .15s ease-out;
    background-image: unset;
    text-shadow: unset;
    background-color: rgba(255,255,255,0.6);
    font-weight: 400px;
    color: #fe5a1d;
    border-color: #fe5a1d;
}

#keep-exploring {
    z-index: 100;
    transition: opacity .15s ease-out;
    background-image: unset;
    text-shadow: unset;
    background-color: rgba(255,255,255,0.6);
    font-weight: 400px;
    color: #fe5a1d;
    border-color: #fe5a1d;
}

.tour-btn:hover, .home-btn:hover {
    background-color: rgba(33,33,33,0.3);
    color: #fe5a1d;
    text-decoration: none;
}

.tour-btn {
    right: 160px;
}

.home-btn {
    right: 10px;
}

.credits {
    position: absolute;
    font: 12px "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #fff;
}

.credits:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.credits-box {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 20%;
    background: rgba(33, 33, 33, 0.7);
    padding: 20px;
    border: 2px solid #fff;
    z-index: 500;
    border-radius: 5px;
}

.credits-box h3,
.credits-box p {
    color: #fff;
    font-family: "proximanova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

#progressbar {
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 10px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

#bar {
    display: inline-block;
    text-align: left;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    position: absolute;
    transition: width 0.2s;
}

@media(max-width:1024px) {
    .intro-box {
        width: 80%;
        top: calc(40% - 100px);
        left: 10%;
    }
    .instructions-box {
        width: 50%;
    }
}

@media(max-width:767px) and (max-height: 767px) {
    .logo {
        height: 20px;
        width: 160px;
    }
    .next-point-box {
        bottom: 10px;
        padding: 0;
        background: none;
        border: none;
    }
    .next-point-box button {
        background: rgba(33, 33, 33, 0.7);
    }
    .intro-box,
    .instructions-box {
        top: 5%;
        width: 90%;
        left: 5%;
    }
    .instructions-box {
        top: 5%;
        max-height: 90%;
        overflow: scroll;
    }
    .instructions {
        max-width: 100%;
    }
    .intro-box h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .intro-box p {
        margin: 5px 0;
    }
    .info-box span {
        font-size: 12px;
    }
    .poi-counter,
    .worlds-end-box {
        padding: 10px;
        right: 10px;
    }
    .tour-btn {
        font-size: 12px;
        padding: 6px 12px;
        border: 1px solid #fff;
        bottom: 25px;
        left: 5px;
        right: inherit;
    }
    #vr-button {
        display: none;
    }
    .intro-box .dateline {
        margin-bottom: 10px;
    }
    .credits-box {
        width: 90%;
        max-height: 90%;
        overflow: scroll;
        left: 5%;
        top: 5%;
    }
}

@media(max-width:479px) and (orientation: portrait) {
    .intro-box {
        top: calc(50% - 215px);
    }
    .poi-counter,
    .worlds-end-box {
        bottom: 24px;
        right: 5px;
        width: calc(100% - 10px);
    }
    .next-point-box {
        left: 5px;
    }
    .next-point-box button {
        display: block;
    }
}

@media(max-height: 375px) and (orientation: landscape) {
    .byline,
    .dateline {
        display: none;
    }
}

@media(min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    .sharebuttons,
    .byline,
    .dateline,
    .description {
        display: none;
    }
    .description-mobile-landscape {
        display: block;
    }
}
